p {
	font-family:Verdana;
	font-size:7pt;
	color:#808080;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	margin:0px;
	padding:0px;
}

A {
	color:#bbb;
	text-decoration:underline;
	}
A:visited {
	color:#bbb;
	text-decoration:underline;
	}
A:hover {
	color:#fff;
	text-decoration:underline;
	}
//A img {
//	border: none;
//	}

.pointer { cursor: pointer; }


BODY {
	margin: 0;
	font-family:Verdana;font-size:7pt;color: #736f6e;
	text-align:center;margin:0px;padding:0px;
	background-color:#000000;
	}
BODY.content {
	background-color:#FFFFFF;
background: url(../img/background.jpg) center center repeat-y fixed;
color:red;
}





TABLE {
	margin-right:auto;
	margin-left:auto;
	padding: 0px;
	border-spacing: 0px;
	}
TD.col53 {
	width:150px;
	text-align:left;
	border: #000000 1px solid;
	background-image:url(../img/background_credits.png);
	background-position: center top;
	background-repeat: repeat;
	vertical-align:top;
	margin-right:auto;
	margin-left:auto;
	padding: 3px;
	border-spacing: 0px;
	}
TD.col92 {
	height: 30px;
	margin-right:auto;
	margin-left:auto;
	padding: 0px;
	border-spacing: 0px;
	}
TD.col21 {
	width:1000px;
	height: 20px;
	background-image:url(../img/transparent_top.png);
	background-position: center top;
	background-repeat: no-repeat;
	margin-right:auto;
	margin-left:auto;
	padding: 0px;
	border-spacing: 0px;
	}
TD.col22 {
	width:1000px;
	height: 20px;
	background-image:url(../img/transparent_bottom.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	margin-right:auto;
	margin-left:auto;
	padding: 0px;
	border-spacing: 0px;
	}

.m2-button {
width:220px;height:60px;float:left;text-align:left;}

.m2-button:hover {
color:#fff;}

.m2-button img {
border:#fff 1px solid;}

.m2-button img:hover{
border:#000 1px solid;}

.m3-button {
background: url(../img/transparent_button.png) top left repeat;border:#262626 0px solid;width:86px;height:28px;float:left;text-align:center;padding-top:2px;color:#808080;}

.m3-button:hover {
background: none;color:#fff;}

.menu3 {margin:0;padding:0;}
.menu3 li {display:inline-block;width:24.5%;}

.btn {
display:block;
text-decoration:none;
text-align:center;
color:#999;
border:1px solid #000;
padding:2px 0;
background-image:url(../img/background_credits.png);
background-position:center top;
background-repeat:repeat;

-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
margin:0 .25%;
float:left;
}

.btn:hover {
text-decoration:none;
color:#fff;
background:none;
border:none;
padding:3px 0;
}






footer {
	text-align:center;
	background: rgba(56, 56, 56, 0.75);
	border-radius: 0 0 10px 10px;
	padding: 8px;
	color: #fff;
	width:360px;
}


