<footer>
    <nav class="social">
        <a href="https://lookinglook.bandcamp.com" target="_blank">bandcamp</a>
        <a href="https://www.facebook.com/lookinglook.records" target="_blank">facebook</a>
        <!-- <a href="https://twitter.com/ihororlovskyi" target="_blank">twitter</a> -->
        <a href="https://soundcloud.com/lookinglook" target="_blank">soundcloud</a>
        <a href="http://discogs.com/label/Lookinglook+Records" target="_blank">discogs</a>
    </nav>
    <nav class="labels">
        <a href="http://sentimony.com">Sentimony Records</a>
        <a href="http://aquadeepmusic.com">Aqua Deep Music</a>
        <a class="active" href="http://lookinglook.com">Lookinglook Records</a>
    </nav>
    <!-- <nav class="versions">
        <a href="http://lookinglook.com">actual</a>
        <a href="http://lookinglook.github.io">github</a>
        <a class="active" href="http://lookinglook.com/old">old</a>
    </nav> -->
    <div>Web Development & Design by <a href="http://ihororlovskyi.com/" target="_blank">Ihor Orlovskyi</a></div>
    <div>Lookinglook Records 2010 - 2015 © All Rights Reserved</div>
</footer>
