<table style="text-align:center;border:none;margin-bottom:8px;" cellspacing="0" cellpadding="0"><tbody><tr>
<td style="width:62px;text-align:right;vertical-align:top;background-color:black;" >
<a href="lgcd05.html"><div onMouseOver="this.style.borderWidth='1px';this.style.borderStyle='solid';this.style.borderColor='#fff'" onMouseOut="this.style.borderWidth='1px';this.style.borderStyle='solid';this.style.borderColor='black'" style="border:black 1px solid;"><img src="release/lgcd05_80.jpg" title="VA - Gamayun Tale" width="60" height="60" /></div></a>
</td>
<td style="width:168px;text-align:left;vertical-align:top;" >
<p style="padding-left:10px;padding-right:20px;"><span style="color:grey;">LGCD05:</span></p>
<p style="padding-left:20px;padding-right:20px;"><span style="color:grey;">VA "Gamayun Tale"</span></p>
</td></tr></tbody></table>