---
layout: default
permalink: /lgcd02.html
---


<title>VA 'Grower'</title>

<meta property="og:url" content="http://lookinglook.com/lgcd02" />
<meta property="og:image" content="http://lookinglook.com/release/lgcd02_500.jpg" />
<meta property="og:title" content="VA 'Grower'" />
<meta property="og:description" content="Lookinglook Records team is pleased to presents our second release - chill-out compialtion, titled 'Grower'." />

</head>

<body class="content">

<table style="margin-right:auto;margin-left:auto;" cellspacing="0" cellpadding="0">
<td style="width:120px;text-align:center;vertical-align:top;">

<table style="margin-right:auto;margin-left:auto;text-align:right;width:120px;" cellspacing="0" cellpadding="0"><tbody><div id="mvg3">
        <tr><td style="height:20px;"></td></tr><tr><td style="width:30px;"><a href="releases.html"  onmouseover="mvgSwitchImage('mvg1_03_img', 'but/m1.1_releases_b.png');" onmouseout="mvgSwitchImage('mvg1_03_img', 'but/m1.1_releases_b.png');"> <img id="mvg1_03_img" src="but/m1.1_releases_b.png"     title="Releases"                alt="Releases"              style="display:block;" /></a></tr>
        <tr><td style="height:10px;"></td></tr><tr><td style="width:30px;"><a href="artists.html"   onmouseover="mvgSwitchImage('mvg1_02_img', 'but/m1.1_artists_b.png');"  onmouseout="mvgSwitchImage('mvg1_02_img', 'but/m1.1_artists_a.png');">  <img id="mvg1_02_img" src="but/m1.1_artists_a.png"  title="Musicians, Djs & Assistants" alt="Musicians, Djs & Assistants"   style="display:block;" /></a></tr>
        <tr><td style="height:10px;"></td></tr><tr><td style="width:30px;"><a href="about.html"     onmouseover="mvgSwitchImage('mvg1_01_img', 'but/m1.1_about_b.png');"    onmouseout="mvgSwitchImage('mvg1_01_img', 'but/m1.1_about_a.png');">    <img id="mvg1_01_img" src="but/m1.1_about_a.png"    title="About & Contact"         alt="About & Contact"           style="display:block;" /></a></tr>
</div></tbody></table>

</td>
<td style="width:1000px;text-align:center;vertical-align:top;">

<!--TABLE-TOP-->
<table><td class="col21">
</td></table>

<!--TABLE-2-->
<table style="margin-right:auto;margin-left:auto;text-align:left;border:none;background-image:url(img/transparent.png);background-repeat: repeat;" cellspacing="0" cellpadding="0"><tbody><tr>
<td style="width:20px;">
</td>
<td style="width:230px;vertical-align:top;text-align:center;">

{% include lgcd05-a.html %}
{% include lgcd04-a.html %}
{% include lgcd03-a.html %}
{% include lgcd02-b.html %}
{% include lgcd01-a.html %}

</td>
<td style="width:350px;vertical-align:top;text-align:left;">

<table style="text-align:center;border:none;" cellspacing="0" cellpadding="0"><tbody>
<tr><td style="width:152px;" valign="center">
<a href="release/lgcd02_500.jpg" class="highslide" onclick="return hs.expand(this)"><img title="Expand image" src="release/lgcd02_150.jpg" /></a>
</td><td style="width:198px;text-align:left;" valign="top">

<p style="padding-left:20px;">LGCD02:</p>
<p style="padding-left:20px;">VA <span style="color:#bc1177;">"Grower"</span></p>
<br>
<p style="padding-left:20px;">• Format: CDr, Jewel Case<p>
<p style="padding-left:20px;">• Released: 15 July 2010<p>
<p style="padding-left:20px;">• Genre: Electronic<p>
<p style="padding-left:20px;">• Style: Ambient, Dub, Downtempo<p>
<p style="padding-left:20px;">• Total Time: 79:21</p>

</td></tr></tbody></table>

<br>
<a href="http://saikosounds.com/english/display_release.asp?id=8567" target="_blank">
<div class="m3-button" style="margin-right:2px;" >Buy CD: SaikoSounds</div></a>

<a href="http://lookinglook.bandcamp.com/album/va-grower" target="_blank">
<div class="m3-button" style="margin-right:2px;" >Buy Digital: Bandcamp</div></a>

<a href="http://junodownload.com/products/1606631-02.htm" target="_blank">
<div class="m3-button" style="margin-right:2px;" >Buy Digital: JunoDownload</div></a>

<a href="http://www.ektoplazm.com/free-music/grower" target="_blank">
<div class="m3-button" style="margin-bottom:12px;" >Free Download: Ektoplazm</div></a>

<br>
<p>Tracklist:</p>
<table style="text-align:left;border:none;" cellspacing="0" cellpadding="0"><tbody>
<tr><td style="width:280px;"><p>01. <span style="color:#bc1177;">Atati</span> - Versions</p></td>                                           <td style="width:70px;text-align:right;"><p><i>(60 bpm)</i></p></td></tr> 
<tr><td style="width:280px;"><p>02. <span style="color:#bc1177;">Spectrum Vision</span> - Outsiders</p></td>                                    <td style="width:70px;text-align:right;"><p><i>(100 bpm)</i></p></td></tr> 
<tr><td style="width:280px;"><p>03. <span style="color:#bc1177;">Mahaon</span> - Leaving The Limit (feat. <span style="color:#bc1177;">Locus</span>)</p></td>   <td style="width:70px;text-align:right;"><p><i>(75 bpm)</i></p></td></tr> 
<tr><td style="width:280px;"><p>04. <span style="color:#bc1177;">Vonoom</span> - Dirty Dishwater</p></td>                                       <td style="width:70px;text-align:right;"><p><i>(80 bpm)</i></p></td></tr> 
<tr><td style="width:280px;"><p>05. <span style="color:#bc1177;">Overdream</span> - Mystique Cabalistique</p></td>                              <td style="width:70px;text-align:right;"><p><i>(92 bpm)</i></p></td></tr> 
<tr><td style="width:280px;"><p>06. <span style="color:#bc1177;">E.R.S.</span> - I Went Irie (The Orient Funk Experience)</p></td>                      <td style="width:70px;text-align:right;"><p><i>(100 bpm)</i></p></td></tr> 
<tr><td style="width:280px;"><p>07. <span style="color:#bc1177;">Irukanji</span> - Muti Cappa</p></td>                                      <td style="width:70px;text-align:right;"><p><i>(88 bpm)</i></p></td></tr> 
<tr><td style="width:280px;"><p>08. <span style="color:#bc1177;">ShizoLizer Gin</span> - Sweet Dino</p></td>                                    <td style="width:70px;text-align:right;"><p><i>(100 bpm)</i></p></td></tr> 
<tr><td style="width:280px;"><p>09. <span style="color:#bc1177;">Xylonite</span> - Thermal Expansion</p></td>                                   <td style="width:70px;text-align:right;"><p><i>(125 bpm)</i></p></td></tr> 
<tr><td style="width:280px;"><p>10. <span style="color:#bc1177;">Unusual Cosmic Process </span> - Cosmic Harmony</p></td>                           <td style="width:70px;text-align:right;"><p><i>(96 bpm)</i></p></td></tr> 
<tr><td style="width:280px;"><p>11. <span style="color:#bc1177;">Liquid Crystal</span> - Raindrops</p></td>                                     <td style="width:70px;text-align:right;"><p><i>(90 bpm)</i></p></td></tr> 
<tr><td style="width:280px;"><p>12. <span style="color:#bc1177;">Kalpataru Tree</span> - MetaLullaby</p></td>                                   <td style="width:70px;text-align:right;"><p><i>(77 bpm)</i></p></td></tr> 
</tbody></table>

</td>
<td style="width:20px;">
</td>
<td style="width:360px;vertical-align:top;text-align:justify;">

<p>Release Notes:</p>
<p style="text-indent:20px;">Lookinglook Records team is pleased to presents our second release - chill-out compialtion, titled "Grower".</p>
<p style="text-indent:20px;">This new release mixed different styles: from classic chill-out with ambient to dub with downtempo. Tracks smoothly flow into one another and complement each other.</p>
<p style="text-indent:20px;">The compilation includes tracks as well-known projects, such as: Overdream (Ukraine), Spectrum Vision (Russia), Vonoom (Denmark), Irukanji (Ukraine), Kalpataru Tree (USA), Unusual Cosmic Process (Ukraine); and "newcomers", such as: Atati (Ukraine), Mahaon & Locus (Russia), E.R.S. (India), ShizoLizer Gin (Ukraine), Xylonite (Russia), Liquid Crystal (Russia).</p>

<br>
<table><td class="col53" style="width:468px;">
<p>Credits:
<a class="pointer" onclick="document.getElementById('credits').style.display='block';document.getElementById('no.credits').style.display='none';" />[show]</a> |
<a class="pointer" onclick="document.getElementById('no.credits').style.display='block';document.getElementById('credits').style.display='none';" />[hide]</a>
</p>
<div id="credits" style="display:none;">
<br>
<p>• Producers & Artists:</p>
<p style="text-indent:20px;"><span style="color:#bc1177;">Atati</span> - Roman Luchkovskiy - Track 01</p>
<p style="text-indent:20px;"><span style="color:#bc1177;">Spectrum Vision</span> - Ivan Uzdyaev - Track 02</p>
<p style="text-indent:20px;"><span style="color:#bc1177;">Mahaon</span> - Alexey Baranov & Albert Sultanov - Track 03</p>
<p style="text-indent:20px;"><span style="color:#bc1177;">Locus</span> - Alexey Artemiev - Featuring At Track 03</p>
<p style="text-indent:20px;"><span style="color:#bc1177;">Vonoom</span> - Michael Sundo - Track 04</p>
<p style="text-indent:20px;"><span style="color:#bc1177;">Overdream</span> - Maxim Kurushyn & Olga Kurushyna - Track 05</p>
<p style="text-indent:20px;"><span style="color:#bc1177;">E.R.S.</span> (<span style="color:#bc1177;">Earth Roundation Service</span>) - Manfred Bruche - Track 06</p>
<p style="text-indent:20px;"><span style="color:#bc1177;">Irukanji</span> - Igor Orlovskiy - Track 07</p>
<p style="text-indent:20px;"><span style="color:#bc1177;">ShizoLizer Gin</span> - Ivan Kabanenko & Dmitriy Veremeiev - Track 08</p>
<p style="text-indent:20px;"><span style="color:#bc1177;">Xylonite</span> - Vladislav Kiselev - Track 09</p>
<p style="text-indent:20px;"><span style="color:#bc1177;">U.C.P.</span> - Runar Kristinsson - Track 10</p>
<p style="text-indent:20px;"><span style="color:#bc1177;">Liquid Crystal</span> - Alex Shilov - Track 11</p>
<p style="text-indent:20px;"><span style="color:#bc1177;">Kalpataru Tree</span> - Curtis Humphrey - Track 12</p>
<p style="text-indent:20px;"><span style="color:#bc1177;">Drea Drury</span> - Vocal At Track 12</p>
<p>• Mastering: <span style="color:#bc1177;">Makus</span> (Overdream Studio) - Maxim Kurushyn</p>
<p>• Photography: <span style="color:#bc1177;">Kotya</span> - Olga Slipko</p>
<p>• Creative Director, Compilator & Design: <span style="color:#bc1177;">Ju Ju</span> - Julia Sidorenko</p>
</div>
<div id="no.credits" style="display:blok;">
</div>
</td></table>

<br>
<table><td class="col53" style="width:468px;">
<p>Links:
<a class="pointer" onclick="document.getElementById('links').style.display='block';document.getElementById('no.links').style.display='none';" />[show]</a> |
<a class="pointer" onclick="document.getElementById('no.links').style.display='block';document.getElementById('links').style.display='none';" />[hide]</a>
</p>
<div id="links" style="display:none;">
<br>
<p>• <a href="http://forum.psyshine.org.ua/viewtopic.php?t=8224" target="_blank">psyshine.org.ua</a></p>
<p>• <a href="http://forum.isratrance.com/va-grower-lookinglook-records-lgcd02/10-163005" target="_blank">isratrance.com (chill)</a></p>
<p>• <a href="http://forum.isratrance.com/va-grower-lookinglook-records-lgcd02/41-163006" target="_blank">isratrance.com (promo)</a></p>
<p>• <a href="http://psytribe.ru/index.php/topic,18221" target="_blank">psytribe.ru</a></p>
<p>• <a href="http://aeroboard.ru/topic414409.html" target="_blank">aeroboard.ru</a></p>
<p>• psynews.org</p>
<p>• psymusic.co.uk</p>
</div>
<div id="no.links" style="display:blok;">
</div>
</td></table>

</td>
<td style="width:20px;">
</td>
</tr></tbody></table>

<!--TABLE-BOTTOM-->
<table><td class="col22">
</td></table>


