---
layout: default
permalink: /lgcd03.html
---


<title>Unusual Cosmic Process 'Weightlessness'</title>

<meta property="og:url" content="http://lookinglook.com/lgcd03" />
<meta property="og:image" content="http://lookinglook.com/release/lgcd03_500.jpg" />
<meta property="og:title" content="Unusual Cosmic Process 'Weightlessness'" />
<meta property="og:description" content="Lookinglook Records proud to presents its third compact disk - the debut album from Ukrainian project Unusual Cosmic Process (U.C.P.), titled 'Weightlessness'." />

</head>

<body class="content">

<!--EMPTI-TABLE-->
<table><td class="col92">
</td></table>

<!--GLOBAL-TABLE-->
<table style="margin-right:auto;margin-left:auto;" cellspacing="0" cellpadding="0">
<td style="width:120px;text-align:center;vertical-align:top;">

<table style="margin-right:auto;margin-left:auto;text-align:right;width:120px;" cellspacing="0" cellpadding="0"><tbody><div id="mvg3">
		<tr><td style="height:20px;"></td></tr><tr><td style="width:30px;"><a href="releases.html"	onmouseover="mvgSwitchImage('mvg1_03_img', 'but/m1.1_releases_b.png');" onmouseout="mvgSwitchImage('mvg1_03_img', 'but/m1.1_releases_b.png');">	<img id="mvg1_03_img" src="but/m1.1_releases_b.png" 	title="Releases" 				alt="Releases" 				style="display:block;" /></a></tr>
		<tr><td style="height:10px;"></td></tr><tr><td style="width:30px;"><a href="artists.html"	onmouseover="mvgSwitchImage('mvg1_02_img', 'but/m1.1_artists_b.png');" 	onmouseout="mvgSwitchImage('mvg1_02_img', 'but/m1.1_artists_a.png');">	<img id="mvg1_02_img" src="but/m1.1_artists_a.png" 	title="Musicians, Djs & Assistants" alt="Musicians, Djs & Assistants" 	style="display:block;" /></a></tr>
		<tr><td style="height:10px;"></td></tr><tr><td style="width:30px;"><a href="about.html"		onmouseover="mvgSwitchImage('mvg1_01_img', 'but/m1.1_about_b.png');" 	onmouseout="mvgSwitchImage('mvg1_01_img', 'but/m1.1_about_a.png');">	<img id="mvg1_01_img" src="but/m1.1_about_a.png" 	title="About & Contact" 		alt="About & Contact" 			style="display:block;" /></a></tr>
</div></tbody></table>

</td>
<td style="width:1000px;text-align:center;vertical-align:top;">

<!--TABLE-TOP-->
<table><td class="col21">
</td></table>

<!--TABLE-2-->
<table style="margin-right:auto;margin-left:auto;text-align:left;border:none;background-image:url(img/transparent.png);background-repeat: repeat;" cellspacing="0" cellpadding="0"><tbody><tr>
<td style="width:20px;">
</td>
<td style="width:230px;vertical-align:top;text-align:center;">

{% include lgcd05-a.html %}
{% include lgcd04-a.html %}
{% include lgcd03-b.html %}
{% include lgcd02-a.html %}
{% include lgcd01-a.html %}

</td>
<td style="width:350px;vertical-align:top;text-align:left;">

<table style="text-align:center;border:none;" cellspacing="0" cellpadding="0"><tbody>
<tr><td style="width:152px;" valign="center">
<a href="release/lgcd03_500.jpg" class="highslide" onclick="return hs.expand(this)"><img title="Expand image" src="release/lgcd03_150.jpg" /></a>
</td><td style="width:198px;text-align:left;" valign="top">

<p style="padding-left:20px;">LGCD03:</p>
<p style="padding-left:20px;">Unusual Cosmic Process <span style="color:#b87226;">"Weightlessness"</span></p>
<br>
<p style="padding-left:20px;">• Format: CDr, Jewel Case<p>
<p style="padding-left:20px;">• Released: 05 November 2010<p>
<p style="padding-left:20px;">• Genre: Electronic<p>
<p style="padding-left:20px;">• Style: Psy-ambient, Downtempo<p>
<p style="padding-left:20px;">• Total Time: 77:06</p>

</td></tr></tbody></table>

<br>
<a href="http://saikosounds.com/english/display_release.asp?id=8674" target="_blank">
<div class="m3-button" style="margin-right:2px;" >Buy CD: SaikoSounds</div></a>

<a href="http://lookinglook.bandcamp.com/album/unusual-cosmic-process-weightlessness" target="_blank">
<div class="m3-button" style="margin-right:2px;" >Buy Digital: Bandcamp</div></a>

<a href="http://junodownload.com/products/1655813-02.htm" target="_blank">
<div class="m3-button" style="margin-right:2px;" >Buy Digital: JunoDownload</div></a>

<a href="http://www.ektoplazm.com/free-music/unusual-cosmic-process-weightlessness" target="_blank">
<div class="m3-button" style="margin-bottom:12px;" >Free Download: Ektoplazm</div></a>

<br>
<p>Tracklist:</p>
<table style="text-align:left;border:none;" cellspacing="0" cellpadding="0"><tbody>
<tr><td style="width:280px;"><p>01. <span style="color:#b87226;">U.C.P.</span> - Final Race</p></td>					<td style="width:70px;text-align:right;"><p><i>(126 bpm)</i></p></td></tr> 
<tr><td style="width:280px;"><p>02. <span style="color:#b87226;">U.C.P.</span> - Lighted Up</p></td>					<td style="width:70px;text-align:right;"><p><i>(126 bpm)</i></p></td></tr> 
<tr><td style="width:280px;"><p>03. <span style="color:#b87226;">U.C.P.</span> - Connected Trough An Ozone Hole</p></td>	<td style="width:70px;text-align:right;"><p><i>(92 bpm)</i></p></td></tr> 
<tr><td style="width:280px;"><p>04. <span style="color:#b87226;">U.C.P.</span> - Weightlessness</p></td>				<td style="width:70px;text-align:right;"><p><i>(95 bpm)</i></p></td></tr> 
<tr><td style="width:280px;"><p>05. <span style="color:#b87226;">U.C.P.</span> - Place On Earth</p></td>				<td style="width:70px;text-align:right;"><p><i>(118 bpm)</i></p></td></tr> 
<tr><td style="width:280px;"><p>06. <span style="color:#b87226;">U.C.P.</span> - Emotional Trip</p></td>				<td style="width:70px;text-align:right;"><p><i>(120 bpm)</i></p></td></tr> 
<tr><td style="width:280px;"><p>07. <span style="color:#b87226;">U.C.P.</span> - Maximum Depth</p></td>				<td style="width:70px;text-align:right;"><p><i>(103 bpm)</i></p></td></tr> 
</tbody></table>

</td>
<td style="width:20px;">
</td>
<td style="width:360px;vertical-align:top;text-align:justify;">

<p>Release Notes:</p>
		<p style="text-align:right;padding-right:20px;">
		<a class="pointer" onclick="document.getElementById('en').style.display='block';document.getElementById('ua').style.display='none';document.getElementById('ru').style.display='none';"	/><img title="Еnglish" src="img/flag_eng.gif" width="18" height="9" style="border:#4F4F4F 1px solid;"/></a>
		<a class="pointer" onclick="document.getElementById('ua').style.display='block';document.getElementById('en').style.display='none';document.getElementById('ru').style.display='none';"	/><img title="Українська" src="img/flag_ukr.gif" width="18" height="9" style="border:#4F4F4F 1px solid;"/></a>
		<a class="pointer" onclick="document.getElementById('ru').style.display='block';document.getElementById('en').style.display='none';document.getElementById('ua').style.display='none';"	/><img title="Русский" src="img/flag_rus.gif" width="18" height="9" style="border:#4F4F4F 1px solid;"/></a>
		</p>
<div id="en" style="display:blok;">
<p style="text-indent:20px;">Lookinglook Records proud to presents its third compact disk - the debut album from Ukrainian project Unusual Cosmic Process (U.C.P.), titled "Weightlessness".</p>
<p style="text-indent:20px;">U.C.P., also known under the name of Runar Kristinsson (real name is Armen Akopov). In 2000 year he started to work as a DJ in one of the Ukrainian nightclubs. But soon he realized that composing music brings him more pleasure than to engage in DJing. In this way, in 2006 he began to write his own music.</p>
<p style="text-indent:20px;">Now Runar works under three projects: Psypheric - in genre of psy prog; Optical Report - in genre of progressive; but main one, and the most interesting its his psy-ambient project - Unusual Cosmic Process.</p>
<p style="text-indent:20px;">Also project name should be known to chill-out music lovers on his two previous releases - VA "True Story" (2008) by Sentimony Records, as well as, VA "Grower" (2010) - our last release.</p>
</div>

<div id="ua" style="display:none;">
<p style="text-indent:20px;">Lookinglook Records радий представити свій третій компакт-диск - дебютний альбом українського проекту Unusual Cosmic Process (U.C.P.), під назвою "Weightlessness".</p>
<p style="text-indent:20px;">U.C.P., також відомий під псевдонімом Runar Kristinsson (справжнє ім'я Армен Акопов). У 2000 році він почав працювати ді-джеєм в одному з українських нічних клубів. Але незабаром зрозумів, що писати музику приносить йому більше задоволення, ніж займатися ді-джєїнгом. Таким чином, у 2006 року він почав писати свою власну музику.</p>
<p style="text-indent:20px;">Наразі Runar працює в рамках трьох проектів: Psypheric - у жанрі psy prog; Optical Report - у жанрі progressive; але головним та найбільш цікавим є його psy-ambient проект - Unusual Cosmic Process.</p>
<p style="text-indent:20px;">Також ім'я проекту вже повинно бути відоме шанувальникам chill-out музики по двом його попереднім релізам - по збірці "True Story" (2008) від лейблу Sentimony Records, а також, по збірці "Grower" (2010) - нашому минулому релізу.</p>
</div>

<div id="ru" style="display:none;">
<p style="text-indent:20px;">Lookinglook Records рад представить свой третий компакт-диск - дебютный альбом украинского проекта Unusual Cosmic Process (U.C.P.), под названием "Weightlessness".</p>
<p style="text-indent:20px;">U.C.P., также известен под псевдонимом Runar Kristinsson (настоящее имя Армэн Акопов). В 2000 году он начал работать ди-джеем в одном из украинских ночных клубов. Но вскоре понял, что писать музыку приносит ему больше удовольствия, чем заниматься ди-джеингом. Таким образом, в 2006 году он начал писать свою собственную музыку.</p>
<p style="text-indent:20px;">Сейчас Runar работает в рамках трех проектов: Psypheric - в жанре psy prog; Optical Report - в жанре progressive; но главным и наиболее интересным является его psy-ambient проект - Unusual Cosmic Process.</p>
<p style="text-indent:20px;">Также имя проекта уже должно быть известно поклонникам chill-out музыки по двум его предыдущим релизам - по сборнику "True Story" (2008) от лейбла Sentimony Records, а также, по сборнику "Grower" (2010) - нашему прошлому релизу.</p>
</div>

<br>
<table><td class="col53" style="width:468px;">
<p>Credits:
<a class="pointer" onclick="document.getElementById('credits').style.display='block';document.getElementById('no.credits').style.display='none';" />[show]</a> |
<a class="pointer" onclick="document.getElementById('no.credits').style.display='block';document.getElementById('credits').style.display='none';" />[hide]</a>
</p>
<div id="credits" style="display:none;">
<br>
<p>• Producers & Artists:</p>
<p style="text-indent:20px;"><span style="color:#b87226;">U.C.P.</span> - Runar Kristinsson - All Tracks</p>
<p>• Mastering: <span style="color:#b87226;">Makus</span> (Overdream Studio) - Maxim Kurushyn</p>
<p>• Creative Director & Design: <span style="color:#b87226;">Ju Ju</span> - Julia Sidorenko</p>
</div>
<div id="no.credits" style="display:blok;">
</div>
</td></table>

<br>
<table><td class="col53" style="width:468px;">
<p>Links:
<a class="pointer" onclick="document.getElementById('links').style.display='block';document.getElementById('no.links').style.display='none';" />[show]</a> |
<a class="pointer" onclick="document.getElementById('no.links').style.display='block';document.getElementById('links').style.display='none';" />[hide]</a>
</p>
<div id="links" style="display:none;">
<br>
<p>• <a href="http://forum.psyshine.org.ua/viewtopic.php?t=8540" target="_blank">psyshine.org.ua</a></p>
<p>• <a href="http://forum.isratrance.com/u-c-p-weightlessness-lookinglook-records-lgcd03/10-166258" target="_blank">isratrance.com (chill)</a></p>
<p>• <a href="http://forum.isratrance.com/u-c-p-weightlessness-lookinglook-records-lgcd03/41-166259" target="_blank">isratrance.com (promo)</a></p>
<p>• <a href="http://psytribe.ru/index.php/topic,18873" target="_blank">psytribe.ru</a></p>
<p>• psynews.org</p>
<p>• psymusic.co.uk</p>
</div>
<div id="no.links" style="display:blok;">
</div>
</td></table>

</td>
<td style="width:20px;">
</td>
</tr></tbody></table>

<!--TABLE-BOTTOM-->
<table><td class="col22">
</td></table>


