---
layout: default
permalink: /lgcd05.html
---


<title>VA 'Gamayun Tale'</title>

<meta property="og:url" content="http://lookinglook.com/lgcd05" />
<meta property="og:image" content="http://lookinglook.com/release/lgcd05_500.jpg" />
<meta property="og:title" content="VA 'Gamayun Tale'" />
<meta property="og:description" content="Lookinglook Records presents VA 'Gamayun Tale' - a new goa story compiled by Sky Technology." />

</head>

<body class="content">

<!--EMPTI-TABLE-->
<table><td class="col92">
</td></table>

<!--GLOBAL-TABLE-->
<table style="margin-right:auto;margin-left:auto;" cellspacing="0" cellpadding="0">
<td style="width:120px;text-align:center;vertical-align:top;">

<table style="margin-right:auto;margin-left:auto;text-align:right;width:120px;" cellspacing="0" cellpadding="0"><tbody><div id="mvg3">
		<tr><td style="height:20px;"></td></tr><tr><td style="width:30px;"><a href="releases.html"	onmouseover="mvgSwitchImage('mvg1_03_img', 'but/m1.1_releases_b.png');" onmouseout="mvgSwitchImage('mvg1_03_img', 'but/m1.1_releases_b.png');">	<img id="mvg1_03_img" src="but/m1.1_releases_b.png" 	title="Releases" 				alt="Releases" 				style="display:block;" /></a></tr>
		<tr><td style="height:10px;"></td></tr><tr><td style="width:30px;"><a href="artists.html"	onmouseover="mvgSwitchImage('mvg1_02_img', 'but/m1.1_artists_b.png');" 	onmouseout="mvgSwitchImage('mvg1_02_img', 'but/m1.1_artists_a.png');">	<img id="mvg1_02_img" src="but/m1.1_artists_a.png" 	title="Musicians, Djs & Assistants" alt="Musicians, Djs & Assistants" 	style="display:block;" /></a></tr>
		<tr><td style="height:10px;"></td></tr><tr><td style="width:30px;"><a href="about.html"		onmouseover="mvgSwitchImage('mvg1_01_img', 'but/m1.1_about_b.png');" 	onmouseout="mvgSwitchImage('mvg1_01_img', 'but/m1.1_about_a.png');">	<img id="mvg1_01_img" src="but/m1.1_about_a.png" 	title="About & Contact" 		alt="About & Contact" 			style="display:block;" /></a></tr>
</div></tbody></table>

</td>
<td style="width:1000px;text-align:center;vertical-align:top;">

<!--TABLE-TOP-->
<table><td class="col21">
</td></table>

<!--TABLE-2-->
<table style="margin-right:auto;margin-left:auto;text-align:left;border:none;background-image:url(img/transparent.png);background-repeat: repeat;" cellspacing="0" cellpadding="0"><tbody><tr>
<td style="width:20px;">
</td>
<td style="width:230px;vertical-align:top;text-align:center;">

{% include lgcd05-b.html %}
{% include lgcd04-a.html %}
{% include lgcd03-a.html %}
{% include lgcd02-a.html %}
{% include lgcd01-a.html %}

</td>
<td style="width:350px;vertical-align:top;text-align:left;">

<table style="text-align:center;border:none;" cellspacing="0" cellpadding="0"><tbody>
<tr><td style="width:152px;" valign="center">
<a href="release/lgcd05_500.jpg" class="highslide" onclick="return hs.expand(this)"><img title="Expand image" src="release/lgcd05_150.jpg" /></a>
</td><td style="width:198px;text-align:left;" valign="top">

<p style="padding-left:20px;">LGCD05:</p>
<p style="padding-left:20px;">VA <span style="color:#44a7c7;">"Gamayun Tale"</span></p>
<br>
<p style="padding-left:20px;">• Format: CD, Jewel Case<p>
<p style="padding-left:20px;">• Released: 10 February 2014<p>
<p style="padding-left:20px;">• Genre: Electronic<p>
<p style="padding-left:20px;">• Style: Goa-trance<p>
<p style="padding-left:20px;">• Total Time: 79:41</p>

</td></tr></tbody></table>

<!--
<br/>
<a href="" target="_blank"><div class="m3-button" style="margin-right:2px;" >Buy CD: SaikoSounds</div></a>
<a href="http://lookinglook.bandcamp.com/album/va-gamayun-tale" target="_blank"><div class="m3-button" style="margin-right:2px;" >Buy Digital: Bandcamp</div></a>
<a href="" target="_blank"><div class="m3-button" style="margin-right:2px;" >Buy Digital: JunoDownload</div></a>
<a href="" target="_blank"><div class="m3-button" style="margin-bottom:12px;" >Free Download: Ektoplazm</div></a>
-->

<br/>
<ul class="menu3">
<li><a href="http://beatspace.com/7694/Lookinglook+Records/Various/Gamayun+Tale/detail.aspx" target="_blank" class="btn btn-default">Buy CD: BeatSpace</a></li>
<li><a href="http://lookinglook.bandcamp.com/album/va-gamayun-tale" target="_blank" class="btn btn-default">Buy Digital: BandCamp</a></li>
<!--
<a href="" target="_blank" class="btn btn-default">Buy Digital: JunoDownload</a>
<a href="" target="_blank" class="btn btn-default">Free Download: Ektoplazm</a>
-->
</ul>

<br/>
<p>Tracklist:</p>
<table style="text-align:left;border:none;" cellspacing="0" cellpadding="0"><tbody>
<tr><td style="width:330px;"><p>01. <span style="color:#44a7c7;">Celestial Consciousness</span> - Rise</p></td>																	<td style="width:20px;text-align:right;"><p><i>100</i></p></td></tr> 
<tr><td style="width:330px;"><p>02. <span style="color:#44a7c7;">Magic Science</span> - Atman</p></td>																			<td style="width:20px;text-align:right;"><p><i>146</i></p></td></tr> 
<tr><td style="width:330px;"><p>03. <span style="color:#44a7c7;">PharaOm</span> - White Lotus Energy</p></td>																	<td style="width:20px;text-align:right;"><p><i>146</i></p></td></tr> 
<tr><td style="width:330px;"><p>04. <span style="color:#44a7c7;">Nova Fractal</span> - Through Our Senses (<span style="color:#44a7c7;">Sky Technology</span> Remix)</p></td>	<td style="width:20px;text-align:right;"><p><i>145</i></p></td></tr> 
<tr><td style="width:330px;"><p>05. <span style="color:#44a7c7;">Roof Raiser</span> - Stone Garden</p></td>															<td style="width:20px;text-align:right;"><p><i>148</i></p></td></tr> 
<tr><td style="width:330px;"><p>06. <span style="color:#44a7c7;">Prok</span> - Gliese</p></td>																			<td style="width:20px;text-align:right;"><p><i>144</i></p></td></tr> 
<tr><td style="width:330px;"><p>07. <span style="color:#44a7c7;">Ufomatka</span> - Asteroid</p></td>																			<td style="width:20px;text-align:right;"><p><i>148</i></p></td></tr> 
<tr><td style="width:330px;"><p>08. <span style="color:#44a7c7;">Wanderlust</span> - Square Of The Cadboard Clocks</p></td>														<td style="width:20px;text-align:right;"><p><i>148</i></p></td></tr> 
<tr><td style="width:330px;"><p>09. <span style="color:#44a7c7;">ShizoLizer Gin</span> - Skygravity Trance Mission</p></td>														<td style="width:20px;text-align:right;"><p><i>142</i></p></td></tr> 
<tr><td style="width:330px;"><p>10. <span style="color:#44a7c7;">Jyotish</span> - Purple Imagination</p></td>																	<td style="width:20px;text-align:right;"><p><i>132</i></p></td></tr> 
<tr><td style="width:330px;"><br/><p>Bonus Track (only in digital format):</p></td>																									<td style="width:20px;text-align:right;"><p></p></td></tr> 
<tr><td style="width:330px;"><p>11. <span style="color:#44a7c7;">Rexuss</span> - Chakra</p></td>																				<td style="width:20px;text-align:right;"><p><i>150</i></p></td></tr> 
</tbody></table>

</td>
<td style="width:20px;">
</td>
<td style="width:360px;vertical-align:top;text-align:justify;">

<p>Release Notes:</p>
		<p style="text-align:right;padding-right:20px;">
		<a class="pointer" onclick="document.getElementById('en').style.display='block';document.getElementById('ua').style.display='none';document.getElementById('ru').style.display='none';"	/><img title="Еnglish" src="img/flag_eng.gif" width="18" height="9" style="border:#4F4F4F 1px solid;"/></a>
		<a class="pointer" onclick="document.getElementById('ua').style.display='block';document.getElementById('en').style.display='none';document.getElementById('ru').style.display='none';"	/><img title="Українська" src="img/flag_ukr.gif" width="18" height="9" style="border:#4F4F4F 1px solid;"/></a>
		<a class="pointer" onclick="document.getElementById('ru').style.display='block';document.getElementById('en').style.display='none';document.getElementById('ua').style.display='none';"	/><img title="Русский" src="img/flag_rus.gif" width="18" height="9" style="border:#4F4F4F 1px solid;"/></a>
		</p>
<div id="en" style="display:blok;">
<p style="text-indent:20px;">Lookinglook Records presents VA "Gamayun Tale" - a new goa story compiled by Sky Technology.</p>
<p style="text-indent:20px;">Gamayun is a prophetic bird of Slavic folklore. It is a symbol of wisdom and knowledge and lives on an island in the east, close to paradise.</p>
<p style="text-indent:20px;">And yep, Gamayun like goa-trance. Enjoy!</p>
</div>

<div id="ua" style="display: none;">
<p style="text-indent:20px;">Lookinglook Records представляє збірку "Gamayun Tale" - нова goa розповідь, що скомпільована Sky Technology.</p>
<p style="text-indent:20px;">Гамаюн є пророчним птахом зі слов'янського фольклору. Це символ мудрості та знань, який живе на острові, на сході, поруч з раєм.</p>
<p style="text-indent:20px;">І так, Гамаюн любить goa-trance. Приємного!</p>
</div>

<div id="ru" style="display: none;">
<p style="text-indent:20px;">Lookinglook Records представляет сборник "Gamayun Tale" - новый goa рассказ скомпилированный Sky Technology.</p>
<p style="text-indent:20px;">Гамаюн является пророческой птицей из славянского фольклора. Это символ мудрости и знаний, который живет на острове, на востоке, рядом с раем.</p>
<p style="text-indent:20px;">И да, Гамаюн любит goa-trance. Приятного!</p>
</div>

<br>
<table><td class="col53" style="width:468px;">
<p>Credits:
<a class="pointer" onclick="document.getElementById('credits').style.display='block';document.getElementById('no.credits').style.display='none';" />[show]</a> |
<a class="pointer" onclick="document.getElementById('no.credits').style.display='block';document.getElementById('credits').style.display='none';" />[hide]</a>
</p>
<div id="credits" style="display:none;">
<br>
<p>• Producers & Artists:</p>
<p style="text-indent:20px;"><span style="color:#44a7c7;">Celestial Consciousness</span> - Volodymyr Lys - Track 01</p>
<p style="text-indent:20px;"><span style="color:#44a7c7;">Magic Science</span> - Ostap Girnyak & Volodymyr Lys - Track 02</p>
<p style="text-indent:20px;"><span style="color:#44a7c7;">PharaOm</span> - Oswald Pfeiffer - Track 03</p>
<p style="text-indent:20px;"><span style="color:#44a7c7;">Nova Fractal</span> - Renato Brnic - Track 04</p>
<p style="text-indent:20px;"><span style="color:#44a7c7;">Sky Technology</span> - Dmitriy Kolosovskiy - Track 04</p>
<p style="text-indent:20px;"><span style="color:#44a7c7;">Roof Raiser</span> - Alexey Petrovskiy - Track 05</p>
<p style="text-indent:20px;"><span style="color:#44a7c7;">Prok</span> - Alexander Prokopchik - Track 06</p>
<p style="text-indent:20px;"><span style="color:#44a7c7;">Ufomatka</span> - Alexandr Yemelyanov - Track 07</p>
<p style="text-indent:20px;"><span style="color:#44a7c7;">Wanderlust</span> - Artemy Troitskiy - Track 08</p>
<p style="text-indent:20px;"><span style="color:#44a7c7;">ShizoLizer Gin</span> - Ivan Kabanenko & Dmitriy Veremeiev - Track 09</p>
<p style="text-indent:20px;"><span style="color:#44a7c7;">Jyotish</span> - Igor Varehow - Track 10</p>
<p style="text-indent:20px;"><span style="color:#44a7c7;">Rexuss</span> - <!--Volodymyr Lys--> - Bonus Track 11</p>
<p>• Compilator: <span style="color:#44a7c7;">Sky Technology</span> - Dmitriy Kolosovskiy</p>
<p>• Mastering: <span style="color:#44a7c7;">Makus</span> (Overdream Studio) - Maxim Kurushyn</p>
<p>• Creative Director, Artwork & Design: <span style="color:#44a7c7;">Ju Ju</span> - Julia Orlovs'ka</p>
</div>
<div id="no.credits" style="display:blok;">
</div>
</td></table>

<br>
<table><td class="col53" style="width:468px;">
<p>Links:
<a class="pointer" onclick="document.getElementById('links').style.display='block';document.getElementById('no.links').style.display='none';" />[show]</a> |
<a class="pointer" onclick="document.getElementById('no.links').style.display='block';document.getElementById('links').style.display='none';" />[hide]</a>
</p>
<div id="links" style="display:none;">
<br>
<p>• <a href="http://forum.psyshine.org.ua/viewtopic.php?t=10562" target="_blank">psyshine forum</a></p>
<p>• <a href="http://forum.isratrance.com/va-gamayun-tale-compiled-by-sky-technology-lookinglook-rec/" target="_blank">isratrance forum</a></p>
<!--
<p>• <a href="http://psytribe.ru/index.php/topic,18872" target="_blank">psytribe.ru</a></p>
<p>• <a href="http://psynews.org/forums/index.php?/topic/59684-va-dancing-mavka-lgcd04" target="_blank">psynews.org</a></p>
<p>• psymusic.co.uk</p>
-->
</div>
<div id="no.links" style="display:blok;">
</div>
</td></table>

</td>
<td style="width:20px;">
</td>
</tr></tbody></table>

<!--TABLE-BOTTOM-->
<table><td class="col22">
</td></table>


