---
layout: default
permalink: /lgcd01.html
---


<title>Senzar 'Before The Morning Sun'</title>

<meta property="og:url" content="http://lookinglook.com/lgcd01" />
<meta property="og:image" content="http://lookinglook.com/release/lgcd01_500.jpg" />
<meta property="og:title" content="Senzar 'Before The Morning Sun'" />
<meta property="og:description" content="Lookinglook Records presents the debut album from Danish artist Senzar, titled 'Before The Morning Sun'." />

</head>

<body class="content">

<!--EMPTI-TABLE-->
<table><td class="col92">
</td></table>

<!--GLOBAL-TABLE-->
<table style="margin-right:auto;margin-left:auto;" cellspacing="0" cellpadding="0">
<td style="width:120px;text-align:center;vertical-align:top;">

<table style="margin-right:auto;margin-left:auto;text-align:right;width:120px;" cellspacing="0" cellpadding="0"><tbody><div id="mvg3">
		<tr><td style="height:20px;"></td></tr><tr><td style="width:30px;"><a href="releases.html"	onmouseover="mvgSwitchImage('mvg1_03_img', 'but/m1.1_releases_b.png');" onmouseout="mvgSwitchImage('mvg1_03_img', 'but/m1.1_releases_b.png');">	<img id="mvg1_03_img" src="but/m1.1_releases_b.png" 	title="Releases" 				alt="Releases" 				style="display:block;" /></a></tr>
		<tr><td style="height:10px;"></td></tr><tr><td style="width:30px;"><a href="artists.html"	onmouseover="mvgSwitchImage('mvg1_02_img', 'but/m1.1_artists_b.png');" 	onmouseout="mvgSwitchImage('mvg1_02_img', 'but/m1.1_artists_a.png');">	<img id="mvg1_02_img" src="but/m1.1_artists_a.png" 	title="Musicians, Djs & Assistants" alt="Musicians, Djs & Assistants" 	style="display:block;" /></a></tr>
		<tr><td style="height:10px;"></td></tr><tr><td style="width:30px;"><a href="about.html"		onmouseover="mvgSwitchImage('mvg1_01_img', 'but/m1.1_about_b.png');" 	onmouseout="mvgSwitchImage('mvg1_01_img', 'but/m1.1_about_a.png');">	<img id="mvg1_01_img" src="but/m1.1_about_a.png" 	title="About & Contact" 		alt="About & Contact" 			style="display:block;" /></a></tr>
</div></tbody></table>

</td>
<td style="width:1000px;text-align:center;vertical-align:top;">

<!--TABLE-TOP-->
<table><td class="col21">
</td></table>

<!--TABLE-2-->
<table style="margin-right:auto;margin-left:auto;text-align:left;border:none;background-image:url(img/transparent.png);background-repeat: repeat;" cellspacing="0" cellpadding="0"><tbody><tr>
<td style="width:20px;">
</td>
<td style="width:230px;vertical-align:top;text-align:center;">

{% include lgcd05-a.html %}
{% include lgcd04-a.html %}
{% include lgcd03-a.html %}
{% include lgcd02-a.html %}
{% include lgcd01-b.html %}

</td>
<td style="width:350px;vertical-align:top;text-align:left;">

<table style="text-align:center;border:none;" cellspacing="0" cellpadding="0"><tbody>
<tr><td style="width:152px;" valign="center">
<a href="release/lgcd01_500.jpg" class="highslide" onclick="return hs.expand(this)"><img title="Expand image" src="release/lgcd01_150.jpg" /></a>
</td><td style="width:198px;text-align:left;" valign="top">

<p style="padding-left:20px;">LGCD01:</p>
<p style="padding-left:20px;">Senzar <span style="color:#eebb24;">"Before The Morning Sun"</span></p>
<br>
<p style="padding-left:20px;">• Format: CDr, Jewel Case<p>
<p style="padding-left:20px;">• Released: 31 May 2010<p>
<p style="padding-left:20px;">• Genre: Electronic<p>
<p style="padding-left:20px;">• Style: Ambient, Downtempo<p>
<p style="padding-left:20px;">• Total Time: 75:02</p>

</td></tr></tbody></table>

<br>
<a href="http://saikosounds.com/english/display_release.asp?id=8472" target="_blank">
<div class="m3-button" style="margin-right:2px;" >Buy CD: SaikoSounds</div></a>

<a href="http://lookinglook.bandcamp.com/album/senzar-before-the-morning-sun" target="_blank">
<div class="m3-button" style="margin-right:2px;" >Buy Digital: Bandcamp</div></a>

<a href="http://junodownload.com/products/1598812-02.htm" target="_blank">
<div class="m3-button" style="margin-right:2px;" >Buy Digital: JunoDownload</div></a>

<a href="http://www.ektoplazm.com/free-music/senzar-before-the-morning-sun" target="_blank">
<div class="m3-button" style="margin-bottom:12px;" >Free Download: Ektoplazm</div></a>

<p>Tracklist:</p>
<table style="text-align:left;border:none;" cellspacing="0" cellpadding="0"><tbody>
<tr><td style="width:280px;"><p>01. <span style="color:#eebb24;">Senzar</span> - Intro (feat. <span style="color:#eebb24;">Ariel Electron</span>)</p></td>			<td style="width:70px;text-align:right;"><p><i>(0 BPM)</i></p></td></tr> 
<tr><td style="width:280px;"><p>02. <span style="color:#eebb24;">Senzar</span> - Deep Sea Civilization</p></td>										<td style="width:70px;text-align:right;"><p><i>(0 BPM)</i></p></td></tr> 
<tr><td style="width:280px;"><p>03. <span style="color:#eebb24;">Senzar</span> - Before The Morning Sun</p></td>										<td style="width:70px;text-align:right;"><p><i>(66-132 BPM)</i></p></td></tr> 
<tr><td style="width:280px;"><p>04. <span style="color:#eebb24;">Senzar</span> - Power Of Light</p></td>											<td style="width:70px;text-align:right;"><p><i>(150 BPM)</i></p></td></tr> 
<tr><td style="width:280px;"><p>05. <span style="color:#eebb24;">Senzar</span> - Mos Paa Traeerne</td>											<td style="width:70px;text-align:right;"><p><i>(75 BPM)</i></p></td></tr> 
<tr><td style="width:280px;"><p>06. <span style="color:#eebb24;">Senzar</span> - Finsterhaarn (<span style="color:#eebb24;">Erot</span> Remix)</p></td>			<td style="width:70px;text-align:right;"><p><i>(85 BPM)</i></p></td></tr> 
<tr><td style="width:280px;"><p>07. <span style="color:#eebb24;">Senzar</span> - Sun Dance</p></td>												<td style="width:70px;text-align:right;"><p><i>(90 BPM)</i></p></td></tr> 
<tr><td style="width:280px;"><p>08. <span style="color:#eebb24;">Senzar</span> - Path Of Dhyana</p></td>											<td style="width:70px;text-align:right;"><p><i>(60-120 BPM)</i></p></td></tr> 
<tr><td style="width:280px;"><p>09. <span style="color:#eebb24;">Senzar</span> - Book Of Dzyan</p></td>											<td style="width:70px;text-align:right;"><p><i>(120 BPM)</i></p></td></tr> 
<tr><td style="width:280px;"><br/><p>Bonus Track:</p></td>																				<td style="width:70px;text-align:right;"><p></p></td></tr> 
<tr><td style="width:280px;"><p>10. <span style="color:#eebb24;">Senzar</span> - Before The Morning Sun (<span style="color:#eebb24;">N.A.S.A.</span> Remix)</p></td>	<td style="width:70px;text-align:right;"><p><i>(128 BPM)</i></p></td></tr> 
</tbody></table>

</td>
<td style="width:20px;">
</td>
<td style="width:360px;vertical-align:top;text-align:justify;">

<p>Release Notes:</p>
<p style="text-indent:20px;">Lookinglook Records presents the debut album from Danish artist Senzar, titled "Before The Morning Sun".</p>
<p style="text-indent:20px;">Senzar, who also goes by the name of Thoke Thomsen, is one of the most well-known Danish artists within psychedelic chillout. His works has appeared on well-established labels like Kagdilia Records, Yellow Sunshine Explosion, Ajana Records and Zealotry Music, and his music has brought him to play at parties like Full Moon Festival (Germany), VuuV Festival (Germany), Aurora Festival (Greece), Rhythms Of Peace Festival (Morocco), and Tribe of Frog (UK).</p>
<p style="text-indent:20px;">As a follower of psychedelic trance music and psychedelic trance parties since 1995, Thoke started DJ'ing and producing in 2002. Always with an open mind for both uplifting melodies and darker atmospheres - from chillout and ambient to progressive trance and darker psychedelic trance, although mostly with emphasis on the peaceful and harmonic effects of chillout. </p>
<p style="text-indent:20px;">"Before The Morning Sun" is a rich, colorful journey of mostly relaxing atmospheres, but also more dancefriendly grooves. From deep, melancholic and slowly evolving underwater soundscapes to uplifting, almost goatrance-like melodies and grooves inspired by progressive trance, house and breakbeat. This is an album to be enjoyed both in headphones on a clear summer-day, brightening up a cold winter morning, as well as dancing with your eyes closed. It really is a a truly diverse album, and it clearly shines through that Senzar has spent the last two years making it as personal and perfect as possible.</p>
<p style="text-indent:20px;">As an added bonus the album also contains remixes by two of Senzar's friends; progressive trance artist N.A.S.A., well-known for his releases on Iboga Records, Iono Music and many more labels, as well as the upcoming Danish artist Erot.</p>

<table><td class="col53" style="width:360px;display:none;">
<br>
<p>Artists Info:
<a class="pointer" onclick="document.getElementById('artists').style.display='block';document.getElementById('no.artists').style.display='none';" />[show]</a> |
<a class="pointer" onclick="document.getElementById('no.artists').style.display='block';document.getElementById('artists').style.display='none';" />[hide]</a>
</p>
<div id="artists" style="display:none;">
<br>

<table cellspacing="0" cellpadding="0" width="350" height="210" ><tbody>
<tr>
<td style="width:90px;" valign="top" >
			<a href="artist.new/senzar-400.jpg" class="highslide" onclick="return hs.expand(this)"><img title="Expand image" src="artist.new/senzar-82.jpg" width="82" height="62" /></a>
			<div class="highslide-caption"><p><span style="color:#165e96;">Senzar</span></p></div>
			<p><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=197035617008842&amp;xfbml=1"></script><fb:like href="http://www.facebook.com/pages/Senzar/15313053117" send="false" layout="button_count" width="80" show_faces="false" colorscheme="light" font="verdana"></fb:like><br></p>
			<p style="font-size:7pt;text-transform:none;">Senzar</p>
</td>
<td style="width:90px;" valign="top" >
			<a href="artist.new/ariel-electron-400.jpg" class="highslide" onclick="return hs.expand(this)"><img title="Expand image" src="artist.new/ariel-electron-82.jpg" width="82" height="62" /></a>
			<div class="highslide-caption"><p><span style="color:#165e96;">Ariel Electron</span></p></div>
			<p><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=197035617008842&amp;xfbml=1"></script><fb:like href="http://www.facebook.com/pages/Ariel-Electron/198995935776" send="false" layout="button_count" width="80" show_faces="false" colorscheme="light" font="verdana"></fb:like><br></p>
			<p style="font-size:7pt;text-transform:none;">Ariel Electron</p>
</td>
<td style="width:90px;" valign="top" >
			<a href="artist.new/erot-400.jpg" class="highslide" onclick="return hs.expand(this)"><img title="Expand image" src="artist.new/erot-82.jpg" width="82" height="62" /></a>
			<div class="highslide-caption"><p><span style="color:#165e96;">Erot</span></p></div>
			<p><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=197035617008842&amp;xfbml=1"></script><fb:like href="http://www.facebook.com/pages/Erot/104121702984398" send="false" layout="button_count" width="80" show_faces="false" colorscheme="light" font="verdana"></fb:like><br></p>
			<p style="font-size:7pt;text-transform:none;">Erot</p>
</td>
</tr>
<tr>
<td style="width:90px;" valign="top" >
			<a href="artist.new/nasa-400.jpg" class="highslide" onclick="return hs.expand(this)"><img title="Expand image" src="artist.new/nasa-82.jpg" width="82" height="62" /></a>
			<div class="highslide-caption"><p><span style="color:#165e96;">N.A.S.A.</span></p></div>
			<p><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=197035617008842&amp;xfbml=1"></script><fb:like href="http://www.facebook.com/nasa.tranceproject" send="false" layout="button_count" width="80" show_faces="false" colorscheme="light" font="verdana"></fb:like><br></p>
			<p style="font-size:7pt;text-transform:none;">N.A.S.A.</p>
</td>
<td style="width:90px;" valign="top" >
			<p></p>
</td>
<td style="width:90px;" valign="top" >
			<p></p>
</td>
</tr>
</tbody></table>

</div>
<div id="no.artists" style="display:blok;">
</div>
</td></table>



<br>
<table><td class="col53" style="width:468px;">
<p>Credits:
<a class="pointer" onclick="document.getElementById('credits').style.display='block';document.getElementById('no.credits').style.display='none';" />[show]</a> |
<a class="pointer" onclick="document.getElementById('no.credits').style.display='block';document.getElementById('credits').style.display='none';" />[hide]</a>
</p>
<div id="credits" style="display:none;">
<br>
<p>• Producers & Artists:</p>
<p style="text-indent:20px;"><span style="color:#eebb24;">Senzar</span> - Thoke Thomsen - All Tracks</p>
<p style="text-indent:20px;"><span style="color:#eebb24;">Erot</span> - Tore Mortensen - Track 06</p>
<p style="text-indent:20px;"><span style="color:#eebb24;">N.A.S.A.</span> - Mikkel Rasmussen - Track 10</p>
<p style="text-indent:20px;"><span style="color:#eebb24;">Ariel Electron</span> (X-Dream project) - Voice At Track 01</p>
<p>• Mastering: <span style="color:#eebb24;">Makus</span> (Overdream Studio) - Maxim Kurushyn</p>
<p>• Photography: <span style="color:#eebb24;">Kotya</span> - Olga Slipko</p>
<p>• Creative Director & Design: <span style="color:#eebb24;">Ju Ju</span> - Julia Sidorenko</p>
</div>
<div id="no.credits" style="display:blok;">
</div>
</td></table>

<br>
<table><td class="col53" style="width:468px;">
<p>Links:
<a class="pointer" onclick="document.getElementById('links').style.display='block';document.getElementById('no.links').style.display='none';" />[show]</a> |
<a class="pointer" onclick="document.getElementById('no.links').style.display='block';document.getElementById('links').style.display='none';" />[hide]</a>
</p>
<div id="links" style="display:none;">
<br>
<p>• <a href="http://forum.psyshine.org.ua/viewtopic.php?t=7792" target="_blank">psyshine.org.ua</a></p>
<p>• <a href="http://forum.isratrance.com/senzar-before-the-morning-sun-lookinglook-records-lgcd01/10-160257" target="_blank">isratrance.com (chill)</a></p>
<p>• <a href="http://forum.isratrance.com/senzar-before-the-morning-sun-lookinglook-records-lgcd01/41-160258" target="_blank">isratrance.com (promo)</a></p>
<p>• <a href="http://psytribe.ru/index.php/topic,17710" target="_blank">psytribe.ru</a></p>
<p>• <a href="http://aeroboard.ru/topic414408.html" target="_blank">aeroboard.ru</a></p>
<p>• <a href="http://psynews.org/forums/index.php?/topic/58633-senzar-before-the-morning-sun-lookinglook-records-lgcd01" target="_blank">psynews.org</a></p>
<p>• <a href="http://psymusic.co.uk/forum/showthread.php?t=80861" target="_blank">psymusic.co.uk</a></p>
</div>
<div id="no.links" style="display:blok;">
</div>
</td></table>

</td>
<td style="width:20px;">
</td>
</tr></tbody></table>

<!--TABLE-BOTTOM-->
<table><td class="col22">
</td></table>


