---
layout: default
permalink: /releases/
---


<title>Lookinglook Rec. | Releases</title>
</head>

<body class="content">

<table style="margin-right:auto;margin-left:auto;" cellspacing="0" cellpadding="0">
<td style="width:120px;text-align:center;vertical-align:top;">

<table style="margin-right:auto;margin-left:auto;text-align:right;width:120px;" cellspacing="0" cellpadding="0"><tbody><div id="mvg3">
        <tr><td style="height:20px;"></td></tr><tr><td style="width:30px;"><a href="releases.html"  onmouseover="mvgSwitchImage('mvg1_03_img', 'but/m1.1_releases_b.png');" onmouseout="mvgSwitchImage('mvg1_03_img', 'but/m1.1_releases_b.png');"> <img id="mvg1_03_img" src="but/m1.1_releases_b.png"     title="Releases"                alt="Releases"              style="display:block;" /></a></tr>
        <tr><td style="height:10px;"></td></tr><tr><td style="width:30px;"><a href="artists.html"   onmouseover="mvgSwitchImage('mvg1_02_img', 'but/m1.1_artists_b.png');"  onmouseout="mvgSwitchImage('mvg1_02_img', 'but/m1.1_artists_a.png');">  <img id="mvg1_02_img" src="but/m1.1_artists_a.png"  title="Musicians, Djs & Assistants" alt="Musicians, Djs & Assistants"   style="display:block;" /></a></tr>
        <tr><td style="height:10px;"></td></tr><tr><td style="width:30px;"><a href="about.html"     onmouseover="mvgSwitchImage('mvg1_01_img', 'but/m1.1_about_b.png');"    onmouseout="mvgSwitchImage('mvg1_01_img', 'but/m1.1_about_a.png');">    <img id="mvg1_01_img" src="but/m1.1_about_a.png"    title="About & Contact"         alt="About & Contact"           style="display:block;" /></a></tr>
</div></tbody></table>

</td>
<td style="width:1000px;text-align:center;vertical-align:top;">

<TABLE-TOP>
<table><td class="col21">
</td></table>

<T2>
<table style="margin-right:auto;margin-left:auto;text-align:left;border:none;background-image:url(img/transparent.png);background-repeat: repeat;" cellspacing="0" cellpadding="0"><tbody><tr>
<td style="width:20px;">
</td>
<td style="width:230px;vertical-align:top;text-align:center;">

{% include lgcd05-a.html %}
{% include lgcd04-a.html %}
{% include lgcd03-a.html %}
{% include lgcd02-a.html %}
{% include lgcd01-a.html %}

<!--
<img src="release/lgcd01_80.jpg" title="Senzar - Before The Morning Sun" width="60" height="60" />
background: url(img/transparent_2.png) repeat;
-->

<!--
<a href="lgcd01">
<div class="m2-button" >
<div style="float:left;margin:0px 10px 0px 0px;" >
<img src="release/lgcd01_80.jpg" width="60" height="60" style="border:#000 1px solid;"/></div>
LGCD01:<br/>
Senzar "Before The Morning Sun"
</div></a>
-->

</td>
<td style="width:728px;text-align:center;border: #000000 1px solid;background-image:url(img/bg-about.png);background-repeat: repeat;background-position: top center;">
</td>
<td style="width:20px;">
</td>
</tr></tbody></table>

<!--TABLE-BOTTOM-->
<table><td class="col22">
</td></table>


